In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
#let's first connecct to the driver
driver = webdriver.Chrome(r"C:\Users\LENOVO\Anacoda_python\chromedriver_win32\chromedriver.exe")

In [3]:
driver= webdriver.Chrome(r'chromedriver.exe')

In [4]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [5]:
# Find the table containing the video details
table = driver.find_element(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]')

# Find all rows in the table
rows = table.find_elements(By.TAG_NAME, 'tr')

# Scrape the details from each row
for row in rows[1:]:  # Exclude the header row
    cells = row.find_elements(By.TAG_NAME, 'td')
    # Check if the expected number of cells is present
    if len(cells) >= 5:
        rank = cells[0].text
        name = cells[1].text
        artist = cells[2].text
        upload_date = cells[4].text
        views = cells[3].text

    # Print the scraped details
    print(f"Rank: {rank}")
    print(f"Name: {name}")
    print(f"Artist: {artist}")
    print(f"Upload Date: {upload_date}")
    print(f"Views: {views}")
    print()

# Close the browser
driver.quit()

Rank: 1.
Name: "Baby Shark Dance"[4]
Artist: Pinkfong Baby Shark - Kids' Songs & Stories
Upload Date: June 17, 2016
Views: 12.85

Rank: 2.
Name: "Despacito"[7]
Artist: Luis Fonsi
Upload Date: January 12, 2017
Views: 8.16

Rank: 3.
Name: "Johny Johny Yes Papa"[14]
Artist: LooLoo Kids
Upload Date: October 8, 2016
Views: 6.70

Rank: 4.
Name: "Bath Song"[15]
Artist: Cocomelon – Nursery Rhymes
Upload Date: May 2, 2018
Views: 6.20

Rank: 5.
Name: "Shape of You"[16]
Artist: Ed Sheeran
Upload Date: January 30, 2017
Views: 6.00

Rank: 6.
Name: "See You Again"[19]
Artist: Wiz Khalifa
Upload Date: April 6, 2015
Views: 5.89

Rank: 7.
Name: "Phonics Song with Two Words"[24]
Artist: ChuChu TV
Upload Date: March 6, 2014
Views: 5.30

Rank: 8.
Name: "Wheels on the Bus"[25]
Artist: Cocomelon – Nursery Rhymes
Upload Date: May 24, 2018
Views: 5.24

Rank: 9.
Name: "Uptown Funk"[26]
Artist: Mark Ronson
Upload Date: November 19, 2014
Views: 4.92

Rank: 10.
Name: "Learning Colors – Colorful Eggs on a Farm"[27]
Artist: Miroshka TV
Upload Date: February 27, 2018
Views: 4.89

Rank: 11.
Name: "Gangnam Style"[28]
Artist: Psy
Upload Date: July 15, 2012
Views: 4.80

Rank: 12.
Name: "Masha and the Bear – Recipe for Disaster"[33]
Artist: Get Movies
Upload Date: January 31, 2012
Views: 4.55

Rank: 13.
Name: "Dame Tu Cosita"[34]
Artist: El Chombo
Upload Date: April 5, 2018
Views: 4.35

Rank: 14.
Name: "Axel F"[35]
Artist: Crazy Frog
Upload Date: June 16, 2009
Views: 3.91

Rank: 15.
Name: "Sugar"[36]
Artist: Maroon 5
Upload Date: January 14, 2015
Views: 3.87

Rank: 16.
Name: "Roar"[37]
Artist: Katy Perry
Upload Date: September 5, 2013
Views: 3.80

Rank: 17.
Name: "Counting Stars"[38]
Artist: OneRepublic
Upload Date: May 31, 2013
Views: 3.79

Rank: 18.
Name: "Sorry"[39]
Artist: Justin Bieber
Upload Date: October 22, 2015
Views: 3.66

Rank: 19.
Name: "Baa Baa Black Sheep"[40]
Artist: Cocomelon – Nursery Rhymes
Upload Date: June 25, 2018
Views: 3.64

Rank: 20.
Name: "Thinking Out Loud"[41]
Artist: Ed Sheeran
Upload Date: October 7, 2014
Views: 3.60

Rank: 21.
Name: "Waka Waka (This Time for Africa)"[42]
Artist: Shakira
Upload Date: June 4, 2010
Views: 3.59

Rank: 22.
Name: "Dark Horse"[43]
Artist: Katy Perry
Upload Date: February 20, 2014
Views: 3.52

Rank: 23.
Name: "Lakdi Ki Kathi"[44]
Artist: Jingle Toons
Upload Date: June 14, 2018
Views: 3.48

Rank: 24.
Name: "Faded"[45]
Artist: Alan Walker
Upload Date: December 3, 2015
Views: 3.45

Rank: 25.
Name: "Perfect"[46]
Artist: Ed Sheeran
Upload Date: November 9, 2017
Views: 3.45

Rank: 26.
Name: "Let Her Go"[47]
Artist: Passenger
Upload Date: July 25, 2012
Views: 3.44

Rank: 27.
Name: "Girls Like You"[48]
Artist: Maroon 5
Upload Date: May 31, 2018
Views: 3.42

Rank: 28.
Name: "Humpty the train on a fruits ride"[49]
Artist: Kiddiestv Hindi – Nursery Rhymes & Kids Songs
Upload Date: January 26, 2018
Views: 3.41

Rank: 29.
Name: "Lean On"[50]
Artist: Major Lazer
Upload Date: March 22, 2015
Views: 3.38

Rank: 30.
Name: "Bailando"[51]
Artist: Enrique Iglesias
Upload Date: April 11, 2014
Views: 3.38

Rank: 30.
Name: "Bailando"[51]
Artist: Enrique Iglesias
Upload Date: April 11, 2014
Views: 3.38

2. Scrape the details teamIndia’sinternationalfixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
#let's first connecct to the driver
driver = webdriver.Chrome(r"C:\Users\LENOVO\Anacoda_python\chromedriver_win32\chromedriver.exe")

In [3]:
driver= webdriver.Chrome(r'chromedriver.exe')

In [46]:
# Navigate to the BCCI.tv home page
url = "https://www.bcci.tv/"
driver.get(url)

In [47]:
# Find the "International" link and click on it
international_link = driver.find_element(By.XPATH, '/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
international_link.click()

In [49]:
# Find the "Fixtures" link and click on it
fixtures_link = driver.find_element(By.XPATH, '//*[@id="fixtures"]/div[2]/div/div[3]/div/div[1]')
fixtures_link.click()

In [50]:
# Find the "Fixtures" link and click on it
ODI_link = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div/div[2]/div[3]')
ODI_link.click()

In [62]:
Cards= driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[1]/div[1]/div')

In [63]:

for card in Cards:
    match_title = card.find_element(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]').text
    series = card.find_element(By.XPATH, '//span[@class="matchOrderText ng-binding ng-scope"]').text
    date = card.find_element(By.XPATH, '//div[@class="match-dates ng-binding"]').text
    time = card.find_element(By.XPATH, '//div[@class="match-info"]//div[@class="match-time no-margin ng-binding"]').text
    place = card.find_element(By.XPATH, '//span[@class="ng-binding ng-scope"]').text

    print("Match Title:", match_title)
    print("Series:", series)
    print("Place:", place)
    print("Date:", date)
    print("Time:", time)
    print("-----------")

# Close the browser
driver.quit()

TypeError: 'WebElement' object is not iterable

3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [4]:
#let's first connecct to the driver
driver = webdriver.Chrome(r"C:\Users\LENOVO\Anacoda_python\chromedriver_win32\chromedriver.exe")

In [5]:
driver= webdriver.Chrome(r'chromedriver.exe')

In [6]:
driver.get('http://statisticstimes.com/')

In [7]:
# Find the "International" link and click on it
Economic_link = driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/button')
Economic_link.click()

In [8]:
India_link = driver.find_element(By.XPATH, '//a[@href="economy/india-statistics.php"]')
India_link.click()

In [11]:
State_link = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
State_link.click()

In [12]:
# Find the table containing the video details
table = driver.find_element(By.XPATH, '//table[@class="display dataTable"][1]')

# Find all rows in the table
rows = table.find_elements(By.TAG_NAME, 'tr')

# Scrape the details from each row
for row in rows[1:]:  # Exclude the header row
    cells = row.find_elements(By.TAG_NAME, 'td')
    # Check if the expected number of cells is present
    if len(cells) >= 5:
        rank = cells[0].text
        states = cells[1].text
        GSDP_18_19_at_current_prices = cells[2].text
        GSDP_19_20_at_current_prices = cells[4].text
        Share_19_20 = cells[3].text
        GDP_billion = cells[4].text

        # Print the scraped details
        print(f"Rank: {rank}")
        print(f"State: {states}")
        print(f"GSDP_18_19: {GSDP_18_19_at_current_prices}")
        print(f"GSDP_19_20: {GSDP_19_20_at_current_prices}")
        print(f"Share_19_20: {Share_19_20}")
        print(f"GDP_billion: {GDP_billion}")
        
        print()

# Close the browser
driver.quit()

Rank: 1
State: Maharashtra
GSDP_18_19: -
GSDP_19_20: 13.94%
Share_19_20: 2,632,792
GDP_billion: 13.94%

Rank: 2
State: Tamil Nadu
GSDP_18_19: 1,845,853
GSDP_19_20: 8.63%
Share_19_20: 1,630,208
GDP_billion: 8.63%

Rank: 3
State: Uttar Pradesh
GSDP_18_19: 1,687,818
GSDP_19_20: 8.39%
Share_19_20: 1,584,764
GDP_billion: 8.39%

Rank: 4
State: Gujarat
GSDP_18_19: -
GSDP_19_20: 7.96%
Share_19_20: 1,502,899
GDP_billion: 7.96%

Rank: 5
State: Karnataka
GSDP_18_19: 1,631,977
GSDP_19_20: 7.91%
Share_19_20: 1,493,127
GDP_billion: 7.91%

Rank: 6
State: West Bengal
GSDP_18_19: 1,253,832
GSDP_19_20: 5.77%
Share_19_20: 1,089,898
GDP_billion: 5.77%

Rank: 7
State: Rajasthan
GSDP_18_19: 1,020,989
GSDP_19_20: 4.99%
Share_19_20: 942,586
GDP_billion: 4.99%

Rank: 8
State: Andhra Pradesh
GSDP_18_19: 972,782
GSDP_19_20: 4.57%
Share_19_20: 862,957
GDP_billion: 4.57%

Rank: 9
State: Telangana
GSDP_18_19: 969,604
GSDP_19_20: 4.56%
Share_19_20: 861,031
GDP_billion: 4.56%

Rank: 10
State: Madhya Pradesh
GSDP_18_19: 906,672
GSDP_19_20: 4.29%
Share_19_20: 809,592
GDP_billion: 4.29%

Rank: 11
State: Kerala
GSDP_18_19: -
GSDP_19_20: 4.14%
Share_19_20: 781,653
GDP_billion: 4.14%

Rank: 12
State: Delhi
GSDP_18_19: 856,112
GSDP_19_20: 4.10%
Share_19_20: 774,870
GDP_billion: 4.10%

Rank: 13
State: Haryana
GSDP_18_19: 831,610
GSDP_19_20: 3.89%
Share_19_20: 734,163
GDP_billion: 3.89%

Rank: 14
State: Bihar
GSDP_18_19: 611,804
GSDP_19_20: 2.81%
Share_19_20: 530,363
GDP_billion: 2.81%

Rank: 15
State: Punjab
GSDP_18_19: 574,760
GSDP_19_20: 2.79%
Share_19_20: 526,376
GDP_billion: 2.79%

Rank: 16
State: Odisha
GSDP_18_19: 521,275
GSDP_19_20: 2.58%
Share_19_20: 487,805
GDP_billion: 2.58%

Rank: 17
State: Assam
GSDP_18_19: -
GSDP_19_20: 1.67%
Share_19_20: 315,881
GDP_billion: 1.67%

Rank: 18
State: Chhattisgarh
GSDP_18_19: 329,180
GSDP_19_20: 1.61%
Share_19_20: 304,063
GDP_billion: 1.61%

Rank: 19
State: Jharkhand
GSDP_18_19: 328,598
GSDP_19_20: 1.57%
Share_19_20: 297,204
GDP_billion: 1.57%

Rank: 20
State: Uttarakhand
GSDP_18_19: -
GSDP_19_20: 1.30%
Share_19_20: 245,895
GDP_billion: 1.30%

Rank: 21
State: Jammu & Kashmir
GSDP_18_19: -
GSDP_19_20: 0.83%
Share_19_20: 155,956
GDP_billion: 0.83%

Rank: 22
State: Himachal Pradesh
GSDP_18_19: 165,472
GSDP_19_20: 0.81%
Share_19_20: 153,845
GDP_billion: 0.81%

Rank: 23
State: Goa
GSDP_18_19: 80,449
GSDP_19_20: 0.39%
Share_19_20: 73,170
GDP_billion: 0.39%

Rank: 24
State: Tripura
GSDP_18_19: 55,984
GSDP_19_20: 0.26%
Share_19_20: 49,845
GDP_billion: 0.26%

Rank: 25
State: Chandigarh
GSDP_18_19: -
GSDP_19_20: 0.22%
Share_19_20: 42,114
GDP_billion: 0.22%

Rank: 26
State: Puducherry
GSDP_18_19: 38,253
GSDP_19_20: 0.18%
Share_19_20: 34,433
GDP_billion: 0.18%

Rank: 27
State: Meghalaya
GSDP_18_19: 36,572
GSDP_19_20: 0.18%
Share_19_20: 33,481
GDP_billion: 0.18%

Rank: 28
State: Sikkim
GSDP_18_19: 32,496
GSDP_19_20: 0.15%
Share_19_20: 28,723
GDP_billion: 0.15%

Rank: 29
State: Manipur
GSDP_18_19: 31,790
GSDP_19_20: 0.15%
Share_19_20: 27,870
GDP_billion: 0.15%

Rank: 30
State: Nagaland
GSDP_18_19: -
GSDP_19_20: 0.14%
Share_19_20: 27,283
GDP_billion: 0.14%

Rank: 31
State: Arunachal Pradesh
GSDP_18_19: -
GSDP_19_20: 0.13%
Share_19_20: 24,603
GDP_billion: 0.13%

Rank: 32
State: Mizoram
GSDP_18_19: 26,503
GSDP_19_20: 0.12%
Share_19_20: 22,287
GDP_billion: 0.12%

Rank: 33
State: Andaman & Nicobar Islands
GSDP_18_19: -
GSDP_19_20: -
Share_19_20: -
GDP_billion: -

Rank:
State: India
GSDP_18_19: 20,351,013
GSDP_19_20:
Share_19_20: 18,886,957
GDP_billion:

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [80]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By

# Set path to your chromedriver executable
chrome_driver_path = r"C:\Users\LENOVO\Anacoda_python\chromedriver_win32\chromedriver.exe"

In [81]:
driver= webdriver.Chrome(r'chromedriver.exe')

In [82]:
driver.get(' https://github.com/')

In [90]:
menu_button = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
menu_button.click()

In [91]:
# Click on the 'Trending' option in the Explore menu
explore_menu = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
explore_menu.click()

In [93]:
# Find all the repository cards on the page
repo_cards = driver.find_elements(By.XPATH, '//article[@class="Box-row"]')

In [97]:
# Iterate over each repository card and extract the required details
for card in repo_cards:
    # Repository title
    title_element = card.find_element(By.TAG_NAME, 'h2')
    title = title_element.text.strip()

    # Repository description
    description_element = card.find_element(By.XPATH, '//P[@class="col-9 color-fg-muted my-1 pr-4"]')
    description = description_element.text.strip()

    # Contributors count
    contributors_element = card.find_element(By.XPATH, '//a[@class="Link--muted d-inline-block mr-3"][2]')
    contributors_count = contributors_element.text.strip()

    # Language used
    language_element = card.find_element(By.XPATH, '//span[@class="d-inline-block ml-0 mr-3"]')
    language = language_element.text.strip()

    print("Repository Title:", title)
    print("Repository Description:", description)
    print("Contributors Count:", contributors_count)
    print("Language Used:", language)
    print("-----------")

# Close the browser
driver.quit()

Repository Title: XingangPan / DragGAN
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: THUDM / ChatGLM2-6B
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: CASIA-IVA-Lab / FastSAM
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: ramonvc / freegpt-webui
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: embedchain / embedchain
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: spacedriveapp / spacedrive
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: xitanggg / open-resume
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: papers-we-love / papers-we-love
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: sadmann7 / skateshop
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: microsoft / Web-Dev-For-Beginners
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: sb-ocr / diy-spacemouse
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: THUDM / ChatGLM-6B
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: SizheAn / PanoHead
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: PlexPt / awesome-chatgpt-prompts-zh
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: firstcontributions / first-contributions
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: actualbudget / actual
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: xtekky / gpt4free
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: sveltejs / svelte
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: OpenGVLab / DragGAN
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: OpenDriveLab / UniAD
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: qgis / QGIS
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: chat2db / Chat2DB
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: Kanaries / pygwalker
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: ggerganov / ggml
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------
Repository Title: StanGirard / quivr
Repository Description: Official Code for DragGAN (SIGGRAPH 2023)
Contributors Count: 2,129
Language Used: Python
-----------

5. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By

In [2]:

# Set path to your chromedriver executable
chrome_driver_path = r"C:\Users\LENOVO\Anacoda_python\chromedriver_win32\chromedriver.exe"

In [3]:
driver= webdriver.Chrome(r'chromedriver.exe')

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_2800\3978355175.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r'chromedriver.exe')

In [4]:
# Load the web page
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [5]:

# Find the table rows containing the book deTails
table_rows = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]')

In [6]:

# Initialize lists to store the scraped details
book_names = []
author_names = []
volumes_sold = []
publishers = []

In [9]:
# Find the table rows
rows = driver.find_elements(By.XPATH, "//table[@class='in-article sortable']/tbody/tr")

# Extract data from each row
for row in rows:
    cells = row.find_elements(By.XPATH, "./td")
    book_names.append(cells[1].text)
    author_names.append(cells[2].text)
    volumes_sold.append(cells[3].text)
    publishers.append(cells[4].text)

# Create a DataFrame
data = {
    "Book Name": book_names,
    "Author Name": author_names,
    "Volumes Sold": volumes_sold,
    "Publisher": publishers
}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

# Close the browser
driver.quit()

                                             Book Name       Author Name  \
0                                    Da Vinci Code,The        Brown, Dan
1                 Harry Potter and the Deathly Hallows     Rowling, J.K.
2             Harry Potter and the Philosopher's Stone     Rowling, J.K.
3            Harry Potter and the Order of the Phoenix     Rowling, J.K.
4                                 Fifty Shades of Grey      James, E. L.
..                                                 ...               ...
195                                          Ghost,The    Harris, Robert
196                     Happy Days with the Naked Chef     Oliver, Jamie
197              Hunger Games,The:Hunger Games Trilogy  Collins, Suzanne
198  Lost Boy,The:A Foster Child's Search for the L...      Pelzer, Dave
199  Jamie's Ministry of Food:Anyone Can Learn to C...     Oliver, Jamie

    Volumes Sold        Publisher
0      5,094,805       Transworld
1      4,475,152       Bloomsbury
2      4,200,654       Bloomsbury
3      4,179,479       Bloomsbury
4      3,758,936     Random House
..           ...              ...
195      807,311     Random House
196      794,201          Penguin
197      792,187  Scholastic Ltd.
198      791,507            Orion
199      791,095          Penguin

[200 rows x 4 columns]

In [22]:
df

,Book Name,Author Name,Volumes Sold,Publisher
0,SOURCE: NIELSEN BOOK SCAN,1,"Da Vinci Code,The","Brown, Dan"
1,SOURCE: NIELSEN BOOK SCAN,1,"Da Vinci Code,The","Brown, Dan"
2,SOURCE: NIELSEN BOOK SCAN,1,"Da Vinci Code,The","Brown, Dan"
3,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld
4,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury
...,...,...,...,...
98,"Ghost,The","Harris, Robert","807,311",Random House
99,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin
100,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.
101,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion
102,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [10]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By

In [11]:

# Set path to your chromedriver executable
chrome_driver_path = r"C:\Users\LENOVO\Anacoda_python\chromedriver_win32\chromedriver.exe"

In [12]:
driver= webdriver.Chrome(r'chromedriver.exe')

In [13]:
# Load the web page
url = ' https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [14]:

# Find the table rows containing the book deTails
table_rows = driver.find_elements(By.XPATH, '//DIV[@class="lister-list"]')

In [15]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [16]:
# Find the table rows
rows = driver.find_elements(By.XPATH, "//table[@class='in-article sortable']/tbody/tr")

# Extract data from each row
for row in rows:
    cells = row.find_elements(By.XPATH, "./td")
    book_names.append(cells[1].text)
    author_names.append(cells[2].text)
    volumes_sold.append(cells[3].text)
    publishers.append(cells[4].text)

# Create a DataFrame
data = {
    "Book Name": book_names,
    "Author Name": author_names,
    "Volumes Sold": volumes_sold,
    "Publisher": publishers
}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

# Close the browser
driver.quit()

                                             Book Name       Author Name  \
0                                    Da Vinci Code,The        Brown, Dan
1                 Harry Potter and the Deathly Hallows     Rowling, J.K.
2             Harry Potter and the Philosopher's Stone     Rowling, J.K.
3            Harry Potter and the Order of the Phoenix     Rowling, J.K.
4                                 Fifty Shades of Grey      James, E. L.
..                                                 ...               ...
195                                          Ghost,The    Harris, Robert
196                     Happy Days with the Naked Chef     Oliver, Jamie
197              Hunger Games,The:Hunger Games Trilogy  Collins, Suzanne
198  Lost Boy,The:A Foster Child's Search for the L...      Pelzer, Dave
199  Jamie's Ministry of Food:Anyone Can Learn to C...     Oliver, Jamie

    Volumes Sold        Publisher
0      5,094,805       Transworld
1      4,475,152       Bloomsbury
2      4,200,654       Bloomsbury
3      4,179,479       Bloomsbury
4      3,758,936     Random House
..           ...              ...
195      807,311     Random House
196      794,201          Penguin
197      792,187  Scholastic Ltd.
198      791,507            Orion
199      791,095          Penguin

[200 rows x 4 columns]

In [17]:
df

,Book Name,Author Name,Volumes Sold,Publisher
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House
...,...,...,...,...
195,"Ghost,The","Harris, Robert","807,311",Random House
196,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin
197,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.
198,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion
199,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin

8. Details of Datasetsfrom UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [25]:
#les first connecct to the driver
driver = webdriver.Chrome(r"C:\Users\LENOVO\Anacoda_python\chromedriver_win32\chromedriver.exe")

In [26]:
driver= webdriver.Chrome(r'chromedriver.exe')

In [27]:
driver.get('https://archive.ics.uci.edu/')

In [28]:
View_data= driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]')
View_data.click()

In [29]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [9]:
# scraping Brand Name from the given page
start=0
end=63
for page in range(start,end):
    Dataset_tags= driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in Dataset_tags[0:623]:
        Dataset=i.text
        Dataset_name.append(Dataset)
    next_button = driver.find_element(By.XPATH, '//button[@class="btn-primary btn-sm btn"][2]')
    driver.execute_script("arguments[0].scrollIntoView();", next_button)
    next_button.click()

In [10]:
len(Dataset_name)

630

 Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details:
A) Name
B) Designation
C)Company
D)Skills they hire for
E) Location

In [48]:
#les first connecct to the driver
driver = webdriver.Chrome(r"C:\Users\LENOVO\Anacoda_python\chromedriver_win32\chromedriver.exe")

In [49]:
driver= webdriver.Chrome(r'chromedriver.exe')

In [50]:
driver.get('https://www.naukri.com/hr-recruiters-consultants ')

In [52]:
designation = driver.find_element(By.CLASS_NAME, "suggestor-input")
designation.send_keys('Data science')

In [53]:
search= driver.find_element(By.CLASS_NAME,"nI-gNb-sb__icon-wrapper")
search.click()

In [59]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]
Skills=[]

In [67]:
# scraping job title from the given page
title_tags= driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [68]:
len(job_title)

10

In [69]:
# scraping job location from the give page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [70]:
len(job_location)

10

In [74]:
# Scraping company name from the given page
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [75]:
len(company_name)

10

In [71]:
# Scraping experience from the given page
experience_tags= driver.find_elements(By.XPATH,'//div[@class="companyInfo subheading"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [72]:
len(experience_required)

10

In [60]:
# Scraping skills from the given page
skills_tags= driver.find_elements(By.XPATH,'//ul[@class="tags has-description"]')
for i in skills_tags[0:10]:
    Skills_set=i.text
    Skills.append(Skills_set)

In [66]:
len(Skills)

10

In [76]:
import pandas as pd
df=pd.DataFrame({"Title":job_title,'Company Name':company_name,'Location':job_location,'Experience Required': experience_required,'SKills':Skills})

In [77]:
df

,Title,Company Name,Location,Experience Required,SKills
0,"Sr. Accountant -Talegaon - Urse Plant, Bus Fro...",HR Innovation Group,"Pune, Maharashtra(Chimbali +31)",HR Innovation Group,gst\nPlant accounting\nDirect\nVariance analys...
1,Senior Executive Accounts & Finance- SAP Must ...,HR Innovation Group,"Pune, Maharashtra(Chimbali +33), anywhere",HR Innovation Group,SAP\nForex\nTDS\nGst\nSheet\nFix\nInternal aud...
2,Production Planning & Control Engineer-Chikhal...,HR Innovation Group,"Pune, Maharashtra(Ravet +25)",HR Innovation Group,pressure vessels\ndistillation\nDistillery\nhe...
3,Production Manager-Immediate Chakan Pune Plant,HR Innovation Group,"Pune, Maharashtra(Chimbali +29)",HR Innovation Group,sheet metal\nplasma cutting\nlaser cutting\npr...
4,"Quality Manager-Immediate , Mahalunge Chakan",HR Innovation Group,"Pune, Maharashtra(Chimbali +28)",HR Innovation Group,sheet metal\nfabrication\nplasma cutting\nlase...
5,Sr Production Engineer- Chikhali Talawade road,HR Innovation Group,"Pune, Maharashtra(Chikhali +29)",HR Innovation Group,fabrication\npressure vessels\nDistillery\nhea...
6,"Purchase ,SCM &Vendor Development Engineer- Ch...",HR Innovation Group,"Pune, Maharashtra(Chimbali +27)",HR Innovation Group,Automation\nsupply chain\npurchase vendor deve...
7,"Quality Manager- Wiring harness,Customer Suppo...",HR Innovation Group,"Pune, Maharashtra(Chimbali +27)",HR Innovation Group,customer support\nWiring Harness\nCar parking ...
8,"Purchase Manager-Gear & Forging Indusrty , Cha...",HR Innovation Group,"Pune, Maharashtra(Chikhali +28)",HR Innovation Group,Negotiation\nMachining\nForging\ngears\nMateri...
9,Plant Head-Machine Shop & PDC -Pressure Die Ca...,HR Innovation Group,"Pune, Maharashtra(Chikhali +26)",HR Innovation Group,Plant Operations\nHPDC\nMachining\nCasting\nHi...